<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>Page not found | Weather App</title>
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__container--h1">
            <h1 class="header__h1">Weather App</h1>
        </div>
        <div class="header__container--p">
            <p class="header__p">Check the weather information from the cache (fast) or check the newest information from the tomorrow.api (more slow)</p>
        </div>
    </header>
    <main class="main">
        <section class="notfound">
            <h2 class="notfound__h2">Upps, We cannot find the page that you want</h2>
            <p class="notfound__p">Check the url and your internet connection, also, <a class="notfound__a" href="/">click here to go to the index page.</a></p>
        </section>
    </main>
</body>
</html>
